*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body{
    background-color: aqua;
    border-color: black;
    border-radius: 5px;
    background-color: rgb(146, 140, 140);
    
}#pagkaka{
    border: solid 1px;
    background-color: aqua;
    border-color: black;
    border-radius: 5px;
}#div1{
    background-color: pink;
    margin-right: 2px;
    border: 3px solid;
    border-radius: 5px;
   
}.right{

    text-align: center;
}nav{
    display: flex;
    flex-direction: row;
    border: 2px solid yellow;
}#kaka{
    border-radius: 5px;
    border: 2px solid black;
}#bemvindo h3{
    font-size: 30px;
    margin: 5px;
    color: aliceblue;
}main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.col1{width: 10%;}
.col2{width: 20%;}
.col3{width: 30%;}
.col4{width: 40%;}
.col5{width: 50%;}
.col6{width: 60%;}
.col7{width: 70%;}
.col8{width: 80%;}
.col9{width: 90%;}
.col10{width: 100%;}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}.card{
    background-color: #ed1010;
    padding: 20px;
    border-radius: 5px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    max-width: calc(33.333% - 40px);
    min-width: 200px;
    }
    footer{
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 15px;
        margin-top: auto;
    }
        @media screen and (max-width:700px) {
        .content{
            flex-direction: column;
            align-items: center;
        }.card{
            max-width: 100%; 
        }nav{
            display: flex;
            flex-direction: column;
        }img{
            width: 470px;
        }}
        @media screen and (max-width:900px) {
            .content{
                flex-direction: column;
                align-items: center;
            }.card{
                max-width: 100%; 
            }nav{
                display: flex;
                flex-direction: column;
            }#kaka{
                text-align: center;
            }}
        
